<% provide(:title, @gemstone.name) %>
<% provide(:button_text, "Save Changes") %>
<h1>Editing Gemstone</h1>

<%= render 'partials/gemform', gemstone: @gemstone %>


<%= link_to 'Back', gemstones_path %>
