<% provide(:title, "About") %>

<h1>About RubySmart</h1>
<p>RubySmart is a micro-project based on <a href="https://rubygems.org/">RubyGems</a> dedicated to..</p>


<h1>Helping You</h1>
<ul>
  <li>Keep track of Gems you have installed for any of your own projects</li>
  <li>Provide a (hopefully) pleasing interface</li>
</ul>
