<% provide(:title, "Help") %>
<h1>Getting Started</h1>
<div class="centerlist">
  <ul>
    <li>Got an account? <%= link_to "If no, register here first!", '/register' %></li>
    <li>Start by creating a chest in your profile page</li>
    <li>Browse the Gems you want to add to your chest by clicking on the "Gemstones" tab</li>
  </ul>
</div>
