<% provide(:title, "Help") %>
<h1>Getting Started</h1>
<div class="centerlist">
  <ul>
    <li>Got an account? <%= link_to "If no, register here first!", '/register' %></li>
    <li>Every user starts with a default chest called "My First Time"
      <small><em>As displayed in your profile page after login</em></small></li>

    <li>Browse the Gems you want to add to your chest by clicking on the "Gemstones" tab</li>
  </ul>
</div>
