<% provide(:title, "Home") %>
<div class="container">
  <h1>Welcome to RubySmart</h1>
  <img id="firstgem" src="assets/images/bijou.png" alt="gem" />
  <%= link_to "Register Here", '/register', class: "btn" %>
</div>
