<% provide(:title, "Home") %>
<div class="container">
  <h1>Welcome to RubySmart</h1>
  <%= link_to image_tag("bijou.png", id: "firstgem", alt: 'gem'), '/about' %>
  <%= link_to "Register Here", '/register', class: "btn" %>
</div>
