<% provide(:title, @user.name) %>
<% if current_user?(@user) || current_user.admin %>
<div class="col">
  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>
</div>

<div class="container">
    <%= link_to 'Edit', edit_user_path(@user), class: "btn" %>

</div>

<% else %>
 <p>Nothing to see here.</p>
<% end %>
