$red: #D11D05;
$off-white: #fee;
$yellow: #f4c141;
$grey: #606060;

// ELEMENTS
body {
  width: 90%;
  height: 90%;
  color: $off-white;
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
}

h1 {
  margin: 2em 0 1.8em 0;
}

a {
  color: $off-white;
  text-decoration: none;
  &:hover {
    color: $yellow;
  }
  &:active {
    color: $yellow;
  }
}

nav {
  display: inline-block;
  width: 70%;
  padding: 0;
  vertical-align: bottom;
  ul {
    margin: 0;
    padding: 0;
    li {
      letter-spacing: 0.1em;
      list-style: none;
      min-width: 15%;
      display: inline-block;
    }
  }
}

div > ul {
  text-align: left;
  list-style: url("gem.png");
  li {
    line-height: 3.3em;
    padding-left: 1em;
  }
}

img {
  margin: 0 auto;
}

label {
  display: block;
  max-width: 100%;
}

input {
  display: inline-block;
  max-width: 70%;
}

// CLASSES
.container {
  height: 100%;
  background-color: $red;
  padding: 7px;
  border-radius: 0 25px 0 0;
  text-align: center;
}

.center{
  width: 40%;
  margin:0 auto;
  text-align:left;
}

.tab {
  border-radius: 25px 25px 0 0;
}

.logo {
  font-size: 1.3em;
}

.btn {
  background-color: $yellow;
  color: $red;
  border: none;
  border-radius: 10px;
  padding: 5px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  &:hover {
    background-color: $off-white;
    color: $red;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
}

// IDS

#bigtab {
  height: 30px;
  min-width: 25%;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .3em;
  padding: 5px;
  display: inline-block;
}



#firstgem {
  display: block;
  margin: 50px auto;
}
